* {
    margin: 0;
    padding: 0;
}

:root {
    --background-color: rgb(101, 7, 224);
    --btn-color-blue: #007bff;
    --font-family: 'Nunito', sans-serif;
    --color-orange: rgb(230, 216, 20);
    --width: 85%;
    --margin: 0 auto;
    --box-shadow: 0 0.5rem 2rem rgb(0 0 0 / 10%);
    --color-white: white;
    --display-flex: flex;
    --z-index: 10;
    --box-shadow: 0px 5px 30px rgb(65 84 241 / 40%);

}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

body {
    font-family: var(--font-family);
    background: #e5ecfb;
}

.header {
    position: fixed;
    width: 100%;
    background-color: var(--background-color);
    padding: 35px 0;
    top: 0;
    z-index: var(--z-index);
}

.hide {
    display: none;
}

.mobile {
    display: none;
}

.container {
    width: var(--width);
    margin: var(--margin);
}

.logo-nav {
    display: var(--display-flex);
    justify-content: space-between;
    align-items: center;

}

.logo {
    width: 30%;
    color: var(--color-white);
    text-transform: uppercase;
    animation: logo 2s ease-in-out;
}

@keyframes logo {
    0% {

        transform: translateX(-70%);
    }

    25% {
        color: red;
    }

    100% {
        transform: translateX(0);
    }
}

.nav {
    width: 70%;
    animation: nav 5s ease-in-out;
}

@keyframes nav {
    0% {
        transform: translateX(80%);
    }

    100% {
        transform: translateX(0);
    }
}

.nav .nav-menu {
    list-style: none;
    display: var(--display-flex);
    justify-content: end;
    column-gap: 20px;
    align-items: center;
}

.nav .nav-menu>.nav-list {
    color: var(--color-white);
}

.btn-nav {
    padding: 12px 25px;
    border-radius: 5px;
    border: none;
    background-color: white;
    font-size: 16px;
    text-transform: capitalize;
    color: var(--background-color);
    font-weight: 600;

}



.btn-nav:hover {
    animation: btn-nav 2s ease-in-out;
    /* transition: all 2s ease-in-out; */
}

@keyframes btn-nav {
    0% {

        background-color: var(--color-orange);
    }

    100% {}
}

a {
    color: var(--color-white);
    text-decoration: none;
    text-transform: capitalize;
}

.welcome {
    padding-bottom: 100px;
    padding-top: 100px;
    background-color: white;
    box-shadow: var(--box-shadow);
}

.section {
    margin-bottom: 40px;
}

.flex-container {
    width: 100%;
    display: var(--display-flex);
    margin-top: 70px;
    align-items: center;

    justify-content: space-between;

}

.content {
    width: 40%;

}

.img-container {
    width: 50%;
    position: relative;

}

.bank {

    width: 100%;
    animation: bank 4s ease-in-out infinite;
}

@keyframes bank {
    0% {
        transform: translateY(-20%);
    }

    100% {
        transform: translateY(0);
    }
}

.heading {
    width: 80%;
    font-family: var(--font-family);
    color: #012970;
    font-weight: 900;
    font-size: 50px;
    font-weight: 300;
    padding-bottom: 20px;
    animation: heading 5s ease;
}

@keyframes heading {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

.paragraph {
    font-size: 13px;
    color: #666;
    line-height: 1.5;
    letter-spacing: 2px;
    animation: paragraph 3s ease-in-out;
}

@keyframes paragraph {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

.btn {
    margin-top: 30px;
    padding: 17px 35px;
    border-radius: 5px;
    color: white;
    border-radius: 20px;
    background-color: var(--background-color);
    font-size: 15px;
    border: none;
    animation: button 5s ease-in-out;
    box-shadow: var(--box-shadow);
}

@keyframes button {
    0% {
        transform: translateX(-80%);
    }
}

.btn:hover {
    background: red;
}

.fa-circle-arrow-right {
    font-size: 15px;
    padding-left: 5px;
    border-radius: 100%;
}

.btn:hover .fa-circle-arrow-right {
    animation: btn 0.5s ease-in-out;

}

@keyframes btn {
    0% {
        transform: translateX(0);

    }

    100% {
        transform: translateX(30%);
    }
}

.card-profile {
    width: 100%;


}

.card-profile .cards {
    width: 100%;
    display: var(--display-flex);
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cards .card {
    width: 30%;
    scale: 1;
    box-shadow: var(--box-shadow);
    position: relative;
}

.card-img-container {
    width: 100%;
    object-fit: contain;
    display: flex;
    justify-content: center;


}

.card-img {
    width: 70%;
    transition: all 0.5s;

}

.card:hover .card-img {
    scale: 0.7;
}

.card-contents {
    text-align: center;
    width: 100%;
}

.users {
    padding: 15px 0;
    color: #333;
    font-size: 17px;
    font-weight: 400;
}

.card-contents>.user-btn {
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    margin: 10px 0;
    background: #4154f1;
    font-size: 17px;
    color: white;
    text-transform: capitalize;

}

.all {
    padding: 30px 0;
    width: 100%;
    text-transform: capitalize;
}

.user-btn:hover .fa-chevron-right {
    /* transition: all 5s; */
    animation: chevron 2s ease-in-out;
}

@keyframes chevron {
    0% {
        transform: translateX(0);
        /* transition: all 5s; */
    }

    100% {
        transform: translateX(100%);
    }
}

.contact-all {
    width: 100%;
    margin: 0;
    padding: 0;
}

.contact-all .heading2 {
    width: 100%;
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
    color: #333;
    padding: 40px 0;
}

.contact-box {
    width: 100%;
    /* margin: 0 auto; */
    padding: 30px 0;
    box-shadow: var(--box-shadow);
    border: 1px solid white;
    border: 20px;


}

.box-flex {
    width: 95%;
    margin: 0 auto;
    display: flex;

}

.contact-box .box-img-container {
    width: 50%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    /* border: 1px solid blue; */

}

.contact-box .box-img-container>.box-img {
    width: 70%;
    border-radius: 100%;
}

.form {
    width: 50%;
    /* border: 1px solid  green; */
}

.form>.input {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    padding: 15px 0;
    border-radius: 5px;
    border: 1px solid #333;
    outline: none;
}

.form>.input::placeholder {
    font-size: 17px;
    text-transform: capitalize;

}

.form>.message {
    padding-bottom: 70px;
}

.contact {
    background-color: white;
}

.one {
    animation: one 5s ease-in;

}

.two {
    animation: two 5s ease-in;
}

.three {
    animation: three 5s ease-in;
}

@keyframes one {
    0% {
        transform: translateX(-40%);

    }
}

@keyframes two {
    0% {
        transform: translateY(-60%)
    }

    100% {
        transform: translateY(0);
    }

}

@keyframes three {
    0% {

        transform: translateX(40%);
    }
}

.footer {
    width: 100%;
    background-color: #021844;
    animation: footer 5s ease-in-out;
}

@keyframes footer {
    0% {
        transform: translateY(100%);
    }
}

.footer-flex {
    padding: 30px 0;
    width: 100%;
    display: var(--display-flex);
    align-items: center;
    color: white;
    column-gap: 40px;
    /* justify-content: space-between; */
}

.footer-box {
    width: 30%;
}

.social-menu {
    display: flex;
    justify-content: end;
    column-gap: 10px;
    list-style: none;
}

.fa-heart {
    color: red;

}

@media screen and (max-width:900px) {

    .nav {
        width: 70%;
    }

    nav .nav-menu {
        width: 100%;
    }

    .footer-flex {
        width: 100%;
        display: block;
        text-align: center;
    }
.footer-box{
    width: 100%;
}
.social-menu{
    justify-content: center;
    padding-top:10px;
}







}

@media screen and (max-width:600px) {
    .desktop {
        display: none;
    }

    .flex-container {
        width: 100%;
        display: block;

    }

    .content {
        width: 100%;
    }

    .heading {
        width: 100%;
    }

    .img-container {
        width: 100%;
        margin-top: 60px;

    }

    .bank {
        width: 100%;
        animation: none !important;
    }

    .contact-box {
        width: 100%;

    }

    .box-flex {
        width: 100%;
        display: block;
    }

    .contact-box .box-img-container {
        width: 100%;
    }

    .form {
        width: 100%;
    }


    .card-profile {
        width: 100%;
    }

    .card-profile .cards {
        width: 100%;
        display: block;

    }

    .cards .card {
        width: 100%;
    }

    .all {
        width: 100%;
    }

    .footer-flex {
        width: 100%;
        display: block;
        line-height: 1.5;
    }

    .footer-box {
        width: 100%;
        text-align: center;
        font-size: 14px;
    }

    .social-menu {
        justify-content: center;
    }

    .mobile {
        width: 50%;
        display: block;
        animation: none !important;
    }

    .nav {
        animation: none !important;
    }

    .mobile .hamburger {
        display: flex;
        justify-content: end;


    }

    .fa-bars {
        transition: none !;
        animation: none !important;
    }

    .logo {
        animation: none !important;
    }

    .fa-solid {
        font-size: 25px;
    }

    .mobile .nav-menu {
        list-style: none;
        display: block;
    }

    .nav-menu {
        height: 100vh;
        width: 100%;
        text-align: center;
        background-color: red;
        margin-top: 10px;
        clip-path: circle(100% at 90% -5%);
        transition: all 5s ease-in-out;
        position: fixed;
        z-index: 100;
        top: 100px;
        list-style: none;

    }

    .nav-list {
        padding-bottom: 50px;
    }

    .hide {
        display: none;
    }

    .show {
        display: block;
    }

    .one,
    .two,
    .three {
        animation: none !important;
    }

}